.cadastroBody{
    height: 100vh;
    header{
        margin-bottom: 25%;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;
        justify-content: space-around;

        .closedEye{
          position: absolute;
          top: 1rem;
          right: -2rem;
        }

        button {
            width: 60%;
            text-align: center;
            border-radius: 10px;
            border: none;
            height: 2.5rem;
            position: relative;
            display: inline-block;
            cursor: pointer;
            outline: none;
            border: 0;
            vertical-align: middle;
            text-decoration: none;
            font-family: inherit;
            font-size: 15px;
            margin-top: 3%;
            margin-bottom: 10%;
          
            &.subForm {
              font-weight: 600;
              color: #382b22;
              text-transform: uppercase;
              padding: 1.25em 2em;
              background: #fff0f0;
              border: 2px solid #b18597;
              border-radius: 0.75em;
              -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
              -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
              transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
          
              &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #f9c4d2;
                border-radius: inherit;
                -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
                box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
                -webkit-transform: translate3d(0, 0.75em, -1em);
                transform: translate3d(0, 0.75em, -1em);
                transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
              }
          
              &:hover {
                background: #ffe9e9;
                -webkit-transform: translate(0, 0.25em);
                transform: translate(0, 0.25em);
          
                &::before {
                  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
                  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
                  -webkit-transform: translate3d(0, 0.5em, -1em);
                  transform: translate3d(0, 0.5em, -1em);
                }
              }
          
              &:active {
                background: #ffe9e9;
                -webkit-transform: translate(0em, 0.75em);
                transform: translate(0em, 0.75em);
          
                &::before {
                  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
                  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
                  -webkit-transform: translate3d(0, 0, -1em);
                  transform: translate3d(0, 0, -1em);
                }
              }
            }
          }          

        .inputbox {
            position: relative;
            width: 196px;
          }
          
          .inputbox input {
            position: relative;
            width: 100%;
            padding: 20px 10px 10px;
            background: transparent;
            outline: none;
            box-shadow: none;
            border: none;
            color: #23242a;
            font-size: 1em;
            letter-spacing: 0.05em;
            transition: 0.5s;
            z-index: 10;
          }
          
          .inputbox span {
            position: absolute;
            left: 0;
            padding: 20px 10px 10px;
            font-size: 1em;
            color: #8f8f8f;
            letter-spacing: 00.05em;
            transition: 0.5s;
            pointer-events: none;
          }
          
          .inputbox input:valid ~span,
          .inputbox input:focus ~span {
            color: black;
            transform: translateX(-10px) translateY(-34px);
            font-size: 0,75em;
          }
          
          .inputbox i {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: rgba(178, 190, 181,.7);
            border-radius: 4px;
            transition: 0.5s;
            pointer-events: none;
            z-index: 9;
          }
          
          .inputbox input:valid ~i,
          .inputbox input:focus ~i {
            height: 44px;
          }

    }
}