.mainCriar{
    width: 100%;
    
    form{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin:auto;

        input[type="text"]{
            outline: none;
            margin-bottom: 2%;
            width: 100%;
            padding: .5rem;
            border-radius: 6px;
            border-top: .1rem gray solid;
            border-right: .1rem solid gray;
            border-left: .1rem solid gray;
            border-bottom: .5rem solid gray;
            transition: all .7s;
        }
        input[type="file"]{
            margin-top: 6%;
            margin-bottom: 5%;

        }

        label{
            margin-top: 5%;
        }

        textarea{
            border-radius: 6px;
            padding:.5rem;
            outline:none;
            margin-top: 1rem;
            border: .2rem solid gray;
        }

        button {
            width: 100%;
            text-align: center;
            border-radius: 10px;
            border: none;
            height: 2.5rem;
            position: relative;
            display: inline-block;
            cursor: pointer;
            outline: none;
            border: 0;
            vertical-align: middle;
            text-decoration: none;
            font-family: inherit;
            font-size: 15px;
            margin-top: 3%;
            margin-bottom: 10%;
          
            &.subForm {
              font-weight: 600;
              color: #382b22;
              text-transform: uppercase;
              padding: 1.25em 2em;
              background: #fff0f0;
              border: 2px solid #b18597;
              border-radius: 0.75em;
              -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
              -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
              transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
          
              &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #f9c4d2;
                border-radius: inherit;
                -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
                box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
                -webkit-transform: translate3d(0, 0.75em, -1em);
                transform: translate3d(0, 0.75em, -1em);
                transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
              }
          
              &:hover {
                background: #ffe9e9;
                -webkit-transform: translate(0, 0.25em);
                transform: translate(0, 0.25em);
          
                &::before {
                  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
                  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
                  -webkit-transform: translate3d(0, 0.5em, -1em);
                  transform: translate3d(0, 0.5em, -1em);
                }
              }
          
              &:active {
                background: #ffe9e9;
                -webkit-transform: translate(0em, 0.75em);
                transform: translate(0em, 0.75em);
          
                &::before {
                  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
                  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
                  -webkit-transform: translate3d(0, 0, -1em);
                  transform: translate3d(0, 0, -1em);
                }
              }
            }
        }          
    }
}