header{
   background-color: #eee;
   height: 8.4rem;
   position: relative;

   #imgLogo{
        width: 9rem;
        height: 5rem;
        position: absolute;
        right: 0;
        top: 0.8rem;
        z-index: 1;
        transition: all .8s;
   }

   .toggle-menu{
        position: absolute;
        width: 2.3rem;
        height: 2.3rem;
        right: 2.5rem;
        top: 2rem;
        opacity: 0;
        z-index: 3;
   }

    .logo{
        position: relative;
        height: 6rem;
        width: 62%;
    
        #title{
         color: #0e4861;
         font-family: ArzachelRegular;
         position: absolute;
         top: 2rem;
         left: 1.5rem;
         z-index: 2;
        }

        .subTittle{
            position: absolute;
            top: 4.2rem;
            left: .6rem;
            color: #0e4861;
            font-family: inter;
            z-index: 2;
        }
    }

}

.banner{
    border-top: 1rem solid #0e4861;
    width: 100%;
    height: 12rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../imgs/banner.jpeg);
    box-shadow: 1px 1px 75px 35px #0e4861
}

.rotate{
    transform: rotate(360deg);
}