@import 'https://fonts.googleapis.com/css2?family=Croissant+One&family=Great+Vibes&family=Inter:wght@300;400;500;600&family=Merriweather:ital,wght@1,300&family=Raleway:ital,wght@1,300&family=Ruwudu&display=swap';
@import 'https://db.onlinewebfonts.com/c/4c2ebb64dc7b336dd993427896b02bcd?family=ArzachelRegular';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

header {
  background-color: #eee;
  height: 8.4rem;
  position: relative;
}
header #imgLogo {
  width: 9rem;
  height: 5rem;
  position: absolute;
  right: 0;
  top: 0.8rem;
  z-index: 1;
  transition: all 0.8s;
}
header .toggle-menu {
  position: absolute;
  width: 2.3rem;
  height: 2.3rem;
  right: 2.5rem;
  top: 2rem;
  opacity: 0;
  z-index: 3;
}
header .logo {
  position: relative;
  height: 6rem;
  width: 62%;
}
header .logo #title {
  color: #0e4861;
  font-family: ArzachelRegular;
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  z-index: 2;
}
header .logo .subTittle {
  position: absolute;
  top: 4.2rem;
  left: 0.6rem;
  color: #0e4861;
  font-family: inter;
  z-index: 2;
}

.banner {
  border-top: 1rem solid #0e4861;
  width: 100%;
  height: 12rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../imgs/banner.jpeg);
  box-shadow: 1px 1px 75px 35px #0e4861;
  margin-bottom: 15%;
}

.rotate {
  transform: rotate(360deg);
}

aside {
  transition: all 0.8s;
  width: 50%;
  position: absolute;
  top: 0;
  left: -10rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(157, 188, 255, 0.9);
  z-index: 10;
}
@media only screen and (min-width: 375px) {
  aside {
    left: -12rem;
  }
}
@media only screen and (min-width: 425px) {
  aside {
    left: -15rem;
  }
}
aside .icon {
  width: 2rem;
  height: 2rem;
}
aside a {
  margin-left: 8%;
  margin-top: 18%;
  text-decoration: none;
  color: #0e4861;
  font-weight: bolder;
}

.active {
  transition: all 0.8s;
  position: absolute;
  left: 0 !important;
}

.historico header {
  margin-bottom: 8%;
}
.historico h2 {
  text-align: center;
  color: #0e4861;
}

.loginBody {
  height: 100vh;
}
.loginBody header {
  margin-bottom: 50%;
}
.loginBody form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 38%;
  justify-content: space-evenly;
}
.loginBody form .closedEye {
  position: absolute;
  top: 1rem;
  right: -2rem;
}
.loginBody form button {
  width: 40%;
  text-align: center;
  border-radius: 10px;
  border: none;
  height: 2.5rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
  margin-bottom: 10%;
}
.loginBody form button.subForm {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.loginBody form button.subForm::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.loginBody form button.subForm:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}
.loginBody form button.subForm:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}
.loginBody form button.subForm:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}
.loginBody form button.subForm:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}
.loginBody form .inputbox {
  position: relative;
  width: 196px;
}
.loginBody form .inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}
.loginBody form .inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 0.05em;
  transition: 0.5s;
  pointer-events: none;
}
.loginBody form .inputbox input:valid ~ span,
.loginBody form .inputbox input:focus ~ span {
  color: black;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}
.loginBody form .inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: rgba(178, 190, 181, 0.7);
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}
.loginBody form .inputbox input:valid ~ i,
.loginBody form .inputbox input:focus ~ i {
  height: 44px;
}

.adminBody header {
  margin-bottom: 50%;
}
.adminBody .container-admin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adminBody .container-admin a {
  text-decoration: none;
}
.adminBody .container-admin button {
  width: 10rem;
  text-align: center;
  border-radius: 10px;
  border: none;
  height: 2.5rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
  margin-top: 3%;
  margin-bottom: 10%;
}
.adminBody .container-admin button.subForm {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.adminBody .container-admin button.subForm::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.adminBody .container-admin button.subForm:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}
.adminBody .container-admin button.subForm:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}
.adminBody .container-admin button.subForm:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}
.adminBody .container-admin button.subForm:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}

.cadastroBody {
  height: 100vh;
}
.cadastroBody header {
  margin-bottom: 25%;
}
.cadastroBody form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  justify-content: space-around;
}
.cadastroBody form .closedEye {
  position: absolute;
  top: 1rem;
  right: -2rem;
}
.cadastroBody form button {
  width: 60%;
  text-align: center;
  border-radius: 10px;
  border: none;
  height: 2.5rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
  margin-top: 3%;
  margin-bottom: 10%;
}
.cadastroBody form button.subForm {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.cadastroBody form button.subForm::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.cadastroBody form button.subForm:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}
.cadastroBody form button.subForm:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}
.cadastroBody form button.subForm:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}
.cadastroBody form button.subForm:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}
.cadastroBody form .inputbox {
  position: relative;
  width: 196px;
}
.cadastroBody form .inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}
.cadastroBody form .inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 0.05em;
  transition: 0.5s;
  pointer-events: none;
}
.cadastroBody form .inputbox input:valid ~ span,
.cadastroBody form .inputbox input:focus ~ span {
  color: black;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}
.cadastroBody form .inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: rgba(178, 190, 181, 0.7);
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}
.cadastroBody form .inputbox input:valid ~ i,
.cadastroBody form .inputbox input:focus ~ i {
  height: 44px;
}

.mainCriar {
  width: 100%;
}
.mainCriar form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  overflow-x: hidden;
}
.mainCriar form input[type=text] {
  outline: none;
  margin-bottom: 2%;
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border-top: 0.1rem gray solid;
  border-right: 0.1rem solid gray;
  border-left: 0.1rem solid gray;
  border-bottom: 0.5rem solid gray;
  transition: all 0.7s;
}
.mainCriar form p {
  margin-top: 12%;
}
.mainCriar form p input[type=file] {
  margin-top: 5%;
}
.mainCriar form label {
  margin-top: 5%;
}
.mainCriar form textarea {
  border-radius: 6px;
  padding: 0.5rem;
  outline: none;
  margin-top: 1rem;
  border: 0.2rem solid gray;
}
.mainCriar form button {
  width: 100%;
  text-align: center;
  border-radius: 10px;
  border: none;
  height: 2.5rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
  margin-top: 3%;
  margin-bottom: 10%;
}
.mainCriar form button.subForm {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.mainCriar form button.subForm::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.mainCriar form button.subForm:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}
.mainCriar form button.subForm:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}
.mainCriar form button.subForm:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}
.mainCriar form button.subForm:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}/*# sourceMappingURL=style.css.map */